*,
::before,
::after {
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  tab-size: 4;
  /* 3 */
  margin: 0;
  /* 1 */
  padding: 0;
}

body {
  margin: 0;
  /* 1 */
  padding: 0;
}

html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

.rbc-time-content::-webkit-scrollbar-thumb {
  background: #AD8ABE;
  border-radius: 1rem;
}

.rbc-time-content::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.rbc-time-content::-webkit-scrollbar {
  width: 0.7rem;
}

.rbc-time-content>*+*>*,
.rbc-time-header-content,
.rbc-day-bg+.rbc-day-bg,
.rbc-header+.rbc-header {
  border-left: 1px solid #f3f4f6;
}

.rbc-day-bg+.rbc-day-bg,
.rbc-header+.rbc-header {
  margin-left: 0.5rem;
}



.rbc-timeslot-group,
.rbc-header {
  border-bottom: 1px solid #f3f4f6;
}

.rbc-time-header.rbc-overflowing {
  border-right: 1px solid #f3f4f6;
}

.rbc-time-view {
  border: 1px solid #f3f4f6;
  border-radius: 0.8rem;
}

.rbc-time-content {
  border-top: 2px solid #e5e7eb;
}

.rbc-label {
  font-size: 0.75rem;
  padding-right: 0.6rem;
  color: #9ca3af;
}

.rbc-now .rbc-button-link {
  background: #592D6E !important;
  width: 2rem;
  height: 1.8rem;
  border-radius: 20rem;
  color: #ffff;
}

.rbc-button-link {
  font-size: .8rem;
}

.rbc-row-segment {
  padding: 0 1px 1px 6px;
}

.rbc-current-time-indicator {
  background: rgba(89, 45, 110, 0.466);
  height: .25rem;
  border-radius: 10rem;
}

.rbc-allday-cell {
  height: 40px !important;
}

/* Date Picker */
.custom-calendar {
  font-family: 'Poppins', sans-serif !important;
  border-radius: 10px;
  border: 1px solid #dddddd !important;
}

.react-calendar__tile--active {
  background: #773C92 !important;
  border-radius: 8px;
}

.react-calendar__month-view__days__day--weekend {
  color: #773C92 !important;
}

.react-calendar__tile--now {
  background: #e4d8e986 !important;
  border-radius: 8px;
  color: #773C92 !important;
}

.react-date-picker__wrapper {
  width: 100%;
  border: 0 !important;
}

.react-date-picker__calendar--open, .react-date-picker__calendar--closed {
  position: absolute;
}

.custom-calendar {
  padding: 8px;
}

.custom-calendar button:hover {
  border-radius: 8px;
  background: #c7c7c748 !important;
}

.react-calendar__tile:disabled {
  background: #dfdfdf50;
  border-radius: 8px;
  color: #c7c7c7;
}

.react-datetime-picker__wrapper {
  border: none;
}

.react-datetime-picker__inputGroup__year {
  width: 34px !important;
}

/* FIX 100VH IOS */
body {
  height: 100vh;
}


@supports (-webkit-touch-callout: none) {
  body {
    height: -webkit-fill-available;
  }
}

.rbc-time-column.rbc-today {
  background: rgb(255 192 192 / 11%) !important;
}